body{
    height:1000px;
}

.box1, .box2, .box3, .box4 {
    font-size: 50px;
    opacity: 0.5;
    border: 2px solid black;
    height:10rem;
    width:10rem;
    margin: 10px;
}

.box1{
    position: sticky;
    top: 0px;
    
    z-index: 1; 
    /*works only works for position, relative, absolute, fixed, sticky*/

    /* visibility: hidden;difference between this and 'display: none'; is that visibility: hidden removes the object from view but the space occupied by it still exists. On the other hand, 'display: none' removes the object as well as the space occupies by it */
    background-color: red;
}

.box2{
    background-color: green;
}

.box3{
    background-color: lightblue;
}

.box4{
    background-color: Yellow;
}