.Header, .Footer{
    background-color: rgb(255, 145, 0);
    text-align: center;
}

.Content {
    text-align: center;
}

html{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    list-style-type: none;
}