*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #333;
    color: aliceblue;
}

nav{
    border: 2px solid rgb(117, 92, 46);
    border-radius: 2rem;
    margin: 0 auto 1rem; /* without auto, the page, on resizing would get left aligned again */
    max-width: 600px;
    font-size:2rem;
    line-height: 5rem;
}

h2{
    color: rgb(234, 254, 255);
    text-shadow: 5px 5px gray;
    padding: 1rem;
    background-color: rgb(167, 143, 12);
    border-radius: 2rem 2rem 0rem 0rem ;
}

ul{
    list-style-type: none;
}

li a{
    display: block; /*converting the li to block allows us to make the while list background to a different color on hover. Otherwise, only a small section would have been coloured since li is, by default, an inline element*/
}

li a, li a:visited{
    color: hsl(135, 45%, 65%);
}

li a:hover, li a:active, li a:active{
    color: hsl(135, 45%, 50%);
    background-color: hsl(135, 45%, 10%);
}

li:last-child a{
    border-radius: 0px 0px 2rem 2rem;
}

p a{
    color: rgb(128, 187, 238);
    text-decoration: none;
}