* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

:root {
    --circle-maker: 200px;
    --font-size: 2rem;
}

.box {
    color: aliceblue;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;

    display: flex;
    flex-direction: column;

    height: var(--circle-maker);
    width: var(--circle-maker);
    border-radius: calc(var(--circle-maker)/2);

    position: relative;

    animation-name: Sayan-animation;
    /*any name for your animation*/
    animation-duration: 3s;
    /*How many seconds for the animation*/
    animation-iteration-count: infinite;
    /*how many times animation will run*/
    animation-timing-function: ease-in-out;
    /*ease-in: fast start then gets slower, ease-out: slower at the end, fast otherwise, ease-in-out- starts and ends slowly, ease: same as ease-in-out but the start and end slowness is less in this*/

    animation-delay: 0s;
    /*animation starts after this many seconds */

}

.breath-in {
    font-size: var(--font-size);
    position: absolute;

    animation-name: breath-in-ani;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.breath-out {

    font-size: var(--font-size);
    position: absolute;

    animation-name: breath-out-ani;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes Sayan-animation {

    /*we create the animation type and all that stuffs here*/
    0% {
        height: var(--circle-maker);
        width: var(--circle-maker);
        border-radius: calc(var(--circle-maker)/2);
    }

    50% {
        height: calc(var(--circle-maker)*1.5);
        width: calc(var(--circle-maker)*1.5);
        border-radius: calc(var(--circle-maker)*calc(1.5/2));
    }

    100% {
        height: var(--circle-maker);
        width: var(--circle-maker);
        border-radius: calc(var(--circle-maker)/2);
    }
}

@keyframes breath-in-ani {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

@keyframes breath-out-ani {
    50% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}