* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    font-family: "Poppins";
    background-color: #222;
    color: whitesmoke;
}

.bodysection {
    margin-top: 50px;
    padding: 10px;
    scroll-behavior: smooth;
}


/* Scrollbar */

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background: #383838;
    padding: 50px;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #646464;
}