.entries{
    width: 40vw;

    padding: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;

    overflow: hidden;
    cursor: default;
}

.entries p{
    color: rgba(240, 248, 255, 0.882);
}

.entries:hover{
    /* box-shadow: rgba(187, 187, 207, 0.2) 0px 10px 32px 0px; */
    outline: 2px solid rgb(87, 87, 87);
}

.entries>img{
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
}

@media only screen and (max-width:650px) {
    .entries{
        width: 80vw;
    }
}