.entrymain {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    scroll-behavior: smooth;
}



@media only screen and (max-width:650px) {
    .entrymain {
        flex-direction: column;
        justify-content: center;
    }
}