.containregister {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginandsignup {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    padding: 25px;
    border: 2px solid rgb(208, 208, 208);
    border-radius: 10px;
}

.containregister h1 {
    text-align: center;
    margin-bottom: 30px;
}

.loginandsignup input,
.loginandsignup button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid #ccc;
    font-size: 16px;
}

.loginandsignup input:active,
.loginandsignup input:focus {
    border-bottom: 2px solid #45a049;
    outline: none;
}

.loginandsignup button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 50px;
}

.loginandsignup button:hover {
    background-color: #45a049;
}