/*useful for images*/

body{
    font-size: 1.5rem;
}

.block{
    width: 30vw;
    height: 30vw;
    background-color: black;
    color: beige;
    padding: 1rem;
}

.left{
    float:left;
    margin-right: 2rem;
}

.right{
    float:right;
    margin-left: 2rem;
}

section{
    background-color: antiquewhite;
    display: flow-root; /*  puts the entire .left inside the paragraph */
}